.layout__item><
  .library.box.box--white-light
    = render 'fortitude_rails/components/structure'
    = render 'fortitude_rails/components/structure/layout'
    = render 'fortitude_rails/components/structure/media'
    = render 'fortitude_rails/components/structure/flag'
    = render 'fortitude_rails/components/colors'
    -#= render 'fortitude_rails/docs/icons'
    = render 'fortitude_rails/components/boxes'
    = render 'fortitude_rails/components/badges'
    = render 'fortitude_rails/components/indicators'
    = render 'fortitude_rails/components/buttons'
    = render 'fortitude_rails/components/flashbars'
    = render 'fortitude_rails/components/tabs_navigations'
    = render 'fortitude_rails/components/tooltips'
    = render 'fortitude_rails/components/typography'
    = render 'fortitude_rails/components/typography/headings'
    = render 'fortitude_rails/components/typography/links'
    = render 'fortitude_rails/components/typography/text_styles'
    = render 'fortitude_rails/components/typography/paragraphs'
    = render 'fortitude_rails/components/typography/lists'
    = render 'fortitude_rails/components/forms'
    = render 'fortitude_rails/components/forms/form_builder'
    = render 'fortitude_rails/components/forms/text_inputs'
    = render 'fortitude_rails/components/forms/select_inputs'
    = render 'fortitude_rails/components/forms/textarea_inputs'
    = render 'fortitude_rails/components/forms/radio_inputs'
    = render 'fortitude_rails/components/forms/checkbox_inputs'
    = render 'fortitude_rails/components/forms/input_groups'
    = render 'fortitude_rails/components/wings'
    = render 'fortitude_rails/components/extend'
