- block_name = :wings
- colors = {white_dark: {class: 'wings--white-dark'}, white: {class: 'wings--white'}, gray: {class: 'wings--gray'}, black: {class: 'wings--black'}}
- sizes = {thin: {class: 'wings--black wings--thin'}}
- extensions = {colors: colors, sizes: sizes}
.library__anchor-helper{id: block_name.to_s.parameterize}
%section.library__section
  %h2 #{block_name.to_s.titleize}
  .content--markdown
    :markdown
      Can display text between lines.
  - extensions.each do |title, types|
    .library__anchor-helper{id: "#{block_name.to_s.parameterize}-#{title.to_s.parameterize}"}
    = library_example title: title.to_s.titleize do |example|
      - types.each do |type, attributes|
        .wings{attributes}
          .wings__wing
          %h3.wings__target.text-black-light #{type.to_s.titleize}
          .wings__wing

