%header.container--fixed-top.fluid-container
  %nav.navigationbar
    .container
      .navigationbar__header
        = link_to root_path, class: 'navigationbar__header__logo' do
          %h1.text-white-light Fortitude Rails
      .navigationbar__toggle
        %img.icon.icon--burger{:alt => "Menu", :src => image_path('spacer.gif')}/
        %input.navigationbar__toggle__helper{:type => "checkbox"}/
        %ul.navigationbar__navigation
          %li.navigationbar__item
            = link_to 'Getting Started', static_path('getting_started'), class: 'navigationbar__link'
          %li.navigationbar__item
            = link_to 'Components', static_path('docs'), class: 'navigationbar__link'
          %li.navigationbar__item
            = link_to 'Component Generator', static_path('component_generator'), class: 'navigationbar__link'
          %li.navigationbar__item
            = link_to 'Customization', static_path('customization'), class: 'navigationbar__link'
